@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
  font-weight: normal;
  font-style: normal;
  font-family: "codropsicons";
  src: url("../fonts/codropsicons/codropsicons.eot");
  src: url("../fonts/codropsicons/codropsicons.eot?#iefix")
      format("embedded-opentype"),
    url("../fonts/codropsicons/codropsicons.woff") format("woff"),
    url("../fonts/codropsicons/codropsicons.ttf") format("truetype"),
    url("../fonts/codropsicons/codropsicons.svg#codropsicons") format("svg");
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #ddd;
  color: #5a5350;
  font-weight: 300;
  font-family: "Lato", Calibri, Arial, sans-serif;
  overflow-y: scroll;
  overflow-x: hidden;
}

















h1 {
  font-size: 5rem;
  color: white;
  animation: 3s linear 1s infinite alternate color;
  display: flex;
  justify-content: center;
  align-content: center;
}

h2 {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
}

@keyframes color {
  from {
    color: white;
  }
  to {
    color: black;
  }
}

.fas {
  font-size: 6rem;
  color: grey;
  animation: 3s linear 1s infinite alternate opaanim;
}
.info {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

@keyframes opaanim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

img {
  width: 100%;
  height: 100%;
}

.card {
  width: 500px;
  height: 500px;
}

a {
  text-decoration: none;
  color: white;
  font-size: 2.5rem;
  display: flex;

  justify-content: center;
  align-content: center;
}

a:hover {
  color: royalblue;
  z-index: 1;
}

h3 {
  color: saddlebrown;
  font-size: 3rem;
}

.projets {
  display: flex;
  justify-content: space-evenly;
}

main {
  align-items: center;
}

@media screen and (max-width: 620px) {
  .fas {
    visibility: hidden;
  }
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .projets {
    flex-direction: column;
    justify-content: space-evenly;
  }

  .card {
    height: 150px;
    width: 100px;
  }
}
@media screen and (max-width: 920px) {
  .card {
    height: 300px;
    width: 300px;
  }
  h4 {
    font-size: 2rem;
  }
}
@media screen and (max-width: 1024px) {
  .fas {
    visibility: hidden;
  }

  .projets {
    flex-direction: column;
    justify-content: space-evenly;
  }

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}


@media screen and (max-width: 620px) {
nav{
  display:flex;
}
ul{
  list-style-type: none;
  flex-direction: column;
}
h1{
  font-size:2rem;
}}

a{
  color:black;
}
li{
  font-size:2.5rem;
  align-self: center;
  list-style-type: none;
}


ul{
  display: flex;
  justify-content: space-evenly;
}






